@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Title"]</h2>
<h2>@ViewData["avinash"]</h2>
<h3>@ViewData["how are you "]</h3>
<h3>@ViewData["how are you "]</h3>
//avinashgit
<h1>@ViewData["Title"]</h1>
<h1>@ViewData["Title"]</h1>
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
